<template id="sdtemplate">
  <svg class="clip-svg">
      <defs>
        <clipPath id="clipBefore" clipPathUnits="objectBoundingBox">
            <polygon points="0 0, 1 0, 1 1" />
        </clipPath>
      </defs>  
  </svg>
  <svg class="clip-svg">
      <defs>
        <clipPath id="clipAfter" clipPathUnits="objectBoundingBox">
            <polygon points="0.06 0.01, 0 0.5, 1 0" />
        </clipPath>
      </defs>  
  </svg>
  <svg class="clip-svg">
      <defs>
        <clipPath id="clipHair" clipPathUnits="objectBoundingBox">
            <polygon points="0 0, 0.8 1, 0.8 0" />
        </clipPath>
      </defs>  
  </svg>
<style id="menu">
    svg{
      width: 0;
      height: 0;
    }
    .icons{
        width: 150px;
        height: 150px;
        display: inline-block;
        position: relative;
        padding-right: 2%;
        float: left;
    }
    .base{
        position: relative;
        width: 150px;
        height: 150px;
        background: #80B88C;
        border-radius: 50%;
        overflow: hidden;
        float: left;
    }
    .base:before{
        content: "";
        position: absolute;
        top: 10px;
        left: 35px;
        width: 80px;
        height: 90px;
        background: rgb(255, 201, 177);
        border-radius: 30px;
        z-index: 1;
    }

    .chrome .base:after{
            content: "";
            position: absolute;
            background: #A0DBDF;
            top: 100px;
            left: 40px;
            width: 70px;
            height: 50px;
            border-radius: 15px;
            z-index: 1;
        }
     .chrome .hair:before{
          content: "";
          position: absolute;
          top: 20px;
          left: 8px;
          height: 100px;
          background: rgb(51,49,49);
          -webkit-clip-path: polygon(6% 1%, 0% 50%, 100% 0%);
          clip-path: polygon(6% 1%, 0% 50%, 100% 0%);
          z-index: 1;
      }
      .other .hair:before{
        clip-path: url(#clipAfter);
      }
      .chrome .hair:after{
          content: "";
          position: absolute;
          top: 20px;
          left: 70px;
          width: 26px;
          height: 49px;
          background: rgb(51,49,49);
          -webkit-clip-path: polygon(0 0, 80% 100%, 80% 0%);
          clip-path: polygon(0 0, 80% 100%, 80% 0%);
          z-index: 1;
    }
    .other .hair:after{
      clip-path: url(#clipHair);
    }
    .hair{
        position: absolute;
        width: 100px;
        height: 150px;
        background: rgb(51,49,49);
        top: -11px;
        left: 25px;
        border-radius: 45px;
    }

    .length-short{
        height: 120px;
    }
    .length-long{
        height: 150px;
    }
    .bang-left:before, .bang-left .left{
        width: 65px;
    }
    .chrome .bang-right:after,.bang-right .right{
        top: 19px;
        left: 16px;
        width: 76px;
        height: 42px;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%);
    }
    .other .bang-right .right{
      clip-path: url(#clipBefore);
    }
    .bang-none:before, .bang-right:before{
        width: 25px;
    }
    .sense{
        position: relative;
        width: 15px;
        height: 25px;
        background: rgb(51,49,49);
        top: 49px;
        left: 48px;
        border-radius: 5px;
        z-index: 1;
        box-shadow: 40px 0 rgb(51,49,49);
    }
    .sense:before{
        content: "";
        position: absolute;
        width: 10px;
        height: 20px;
        background: rgb(255, 201, 177);
        right: 23px;
        top: 8px;
        border-radius: 5px;
        box-shadow: 80px 0 rgb(255, 201, 177);
    }
    .sense:after{
        content: "";
        position: absolute;
        border-radius: 0 0 30px 33px;
        background: #fff;
    }
    .eyes-pos-down{
        bottom: 105px;
    }
    .eyes-pos-left:after{
        left: 17px;
    }
    .mouth-joy:after{
        width: 15px;
        height: 15px;
        top: 30px;
        left: 20px;
    }
    .sense.mouth-shy:after{
        width: 5px;
        height: 10px;
        top: 30px;
        left: 24px;
    }
    .accessory.glass{
        width: 24px;
        height: 28px;
        border-radius: 3px;
        top: 46px;
        position: absolute;
        left: 43px;
        z-index: 1;
        background: rgba(124, 125, 124, 0.44);
        box-shadow: 40px 0 rgba(124, 125, 124, 0.44);
    }
    .accessory.earrings{
        width: 5px;
        height: 5px;
        background: #fff;
        position: absolute;
        left: 30px;
        top: 70px;
        z-index: 1;
        box-shadow: 84px 0 #fff;
    }
    .glass:before{
        content: "";
        width: 10px;
        border: 1px solid rgba(124, 125, 124, 0.44);
        position: absolute;
        right: 24px;
        bottom: 19px;
        box-shadow: 38px 3px rgba(124, 125, 124, 0.44), 76px 0 rgba(124, 125, 124, 0.44);
    }
    .eyes-small{
        width: 10px;
        height: 15px;
        bottom: 100px;
        left: 50px;
        box-shadow: 42px 0 rgb(51,49,49);
        bottom: 75px;
    }
    .eyes-small:after{
        left: 19px;
    }

    .eyes-small:before{
        box-shadow: 84px 0 rgb(255, 201, 177);
    }

    .left{
        position: absolute;
        top: 20px;
        left: 8px;
        width: 26px;
        height: 100px;
        background: rgb(51,49,49);
        -webkit-clip-path: polygon(6% 1%, 0% 50%, 100% 0%);
        clip-path: polygon(6% 1%, 0% 50%, 100% 0%);
        clip-path: url(#clipAfter);
        z-index: 1;
      }
     .right{
          position: absolute;
          top: 20px;
          left: 70px;
          width: 26px;
          height: 49px;
          background: rgb(51,49,49);
          -webkit-clip-path: polygon(0 0, 80% 100%, 80% 0%);
          clip-path: polygon(0 0, 80% 100%, 80% 0%);
          clip-path: url(#clipHair);
          z-index: 1;
      }
    .cloth{
        position: absolute;
        background: #A0DBDF;
        top: 100px;
        left: 40px;
        width: 70px;
        height: 50px;
        border-radius: 15px;
        z-index: 1;
      }
    </style>
</template>
<script>
    var MYAPP = {};
    /**
     * @namespace MYAPP
     * @Object BindConfig
     * @constructor
     */
    MYAPP.BindConfig = function(name, value, config){
        /**
         * @property name, value
         * @type string
         */
        this.name = name;
        this.value = value;
        /**
         * @property config
         * @type object
         */
        this.config = config;
    }
    /**
     * @method setName
     * @param {String}
     */
    MYAPP.BindConfig.prototype.setName = function(name){
        this.name = name;
    }
    /**
     * @method setValue
     * @param {String}
     */
    MYAPP.BindConfig.prototype.setValue = function(value){
        this.value = value;
    }
    /**
     * @method getValue
     * @return {String}
     */
    MYAPP.BindConfig.prototype.getValue = function(){
        return this.value;
    }
    /**
     * @method getName
     * @return {String}
     */
    MYAPP.BindConfig.prototype.getName = function(){
        return this.name;
    }
    /**
     * @method setConfig
     * @param {Object}
     */
    MYAPP.BindConfig.prototype.setConfig = function(config){
        var newName = this.getName(),
            newValue = this.getValue();
        
        for(var key in config){
            if(key === newName){
                config[key] = newValue;
            } else {
                for(var name in config[key]){
                    if(name === newName){
                        config[key][name] = newValue;
                    }
                }
            }
        }
    }
    /**
     * @method getConfig
     * @return {Object}
     */
    MYAPP.BindConfig.prototype.getConfig = function(){
        return this.config;
    }
    /**
     * @namespace MYAPP
     * @Object Controller
     * @constructor
     */
    MYAPP.Controller = function(bg, hair, cloth, eyes){
        /**
         * @property bg, hair, cloth, eyes
         * @type string
         */
        this.bg = bg;
        this.hair = hair;
        this.cloth = cloth;
        this.eyes = eyes;
    }
    /**
     * @method setBackground
     * @param {String}
     */
    MYAPP.Controller.prototype.setBackground = function(b){
        this.bg = b;
    }
    /**
     * @method getBackground
     * @return {String}
     */
    MYAPP.Controller.prototype.getBackground = function(){
        return this.bg;
    }
    /**
     * @method setHair
     * @param {String}
     */
    MYAPP.Controller.prototype.setHair = function(b){
        this.hair = b;
    }
    /**
     * @method getHair
     * @return {String}
     */
    MYAPP.Controller.prototype.getHair = function(){
        return this.hair;
    }
    /**
     * @method setCloth
     * @param {String}
     */
    MYAPP.Controller.prototype.setCloth = function(b){
        this.cloth = b;
    }
    /**
     * @method getCloth
     * @return {String}
     */
    MYAPP.Controller.prototype.getCloth = function(){
        return this.cloth;
    }
    /**
     * @method setEyes
     * @param {String}
     */
    MYAPP.Controller.prototype.setEyes = function(b){
        this.eyes = b;
    }
    /**
     * @method getEyes
     * @return {String}
     */
    MYAPP.Controller.prototype.getEyes = function(){
        return this.eyes;
    }
    /**
     * @namespace MYAPP
     * @Object TasksObj
     * @constructor
     */
    MYAPP.TasksObj = function(chrome, doc, tasks, t, el, container){
        /**
         * @property doc
         * @type Element
         */
        this.doc = doc;
        /**
         * @property tasks
         * @type Array
         */
        this.tasks = tasks;
        /**
         * @property t
         * @type Element
         */
        this.t = t;
        /**
         * @property el
         * @type Element
         */
        this.el = el;
        /**
         * @property root
         * @type Element
         */
        this.root = el.createShadowRoot();
        /**
         * @property container
         * @type boolean
         */
        this.container = container;
        this.bg = el.getAttribute('data-background');
        this.hair = el.getAttribute('data-hair');
        this.eyes = el.getAttribute('data-eyes');
        this.cloth = el.getAttribute('data-cloth');
        this.chrome = chrome;
    }
    /**
     * @method setT
     * Remove duplicate childNode
     */
    MYAPP.TasksObj.prototype.setT = function(){

        if(this.t.content && this.t.content.childNodes.length > 3){
            var len = this.t.content.childNodes.length;
                this.t.content.childNodes[len-1].remove();
        }
    }
    /**
     * @method createFragment
     * @return {Element}
     * Generate content includes all needed className 
     */
    MYAPP.TasksObj.prototype.createFragment = function(){
        var task = this.getTasks(),
            len = task.length,
            div = [], i, clone, content,
            fg = this.doc.createDocumentFragment(),
            base = this.doc.createElement('div');

            if(this.container){
                content = this.t.content.querySelector('div');
                content.innerHTML = '';
            } else {
                 content = this.doc.createElement('div');
                 content.className = 'icons';
                 this.setT();
            }

        for(i=0; i<len; i++){
            div[i] = this.doc.createElement('div');
            div[i].className = task[i];
            fg.appendChild(div[i]);
        }
        base.className = 'base';

        if(!this.chrome){
          var cloth = this.doc.createElement('div');
              cloth.className = 'cloth';
              base.appendChild(cloth);
              content.className += ' other';
        } else {
            if(!content.classList.contains('chrome'))
                content.className +=' chrome';
        }
        
        content.appendChild(base);
        content.appendChild(fg);

        //for safari & firefox
        if(!this.chrome){
          var hair = content.querySelector('.hair');
          var left = this.doc.createElement('div');
          var right = this.doc.createElement('div');
          left.className = 'left';
          right.className = 'right';
          hair.appendChild(left);
          hair.appendChild(right);
        }

        return content;
    }
    /**
     * @method setRoot
     * @param {String}
     * Reset style
     */
    MYAPP.TasksObj.prototype.setRoot = function(r){
        this.root.textContent = r;
    }
    /**
     * @method setTasks
     * @param {Array}
     * Reset the className, re-create content and paste it to screen
     */
    MYAPP.TasksObj.prototype.setTasks = function(t, bg, hair, eyes, cloth){
        this.tasks = t;
        this.container = true;
        this.setBg(bg);
        this.setHair(hair);
        this.setEyes(eyes);
        this.setCloth(cloth);
        this.setRoot('');
        var c = this.createFragment();
        this.pasteContent(c, this.root);
    }

    MYAPP.TasksObj.prototype.setBg = function(bg){
        this.bg = bg;
    }
    MYAPP.TasksObj.prototype.getBg = function(){
        return this.bg;
    }
    MYAPP.TasksObj.prototype.setHair = function(hair){
        this.hair = hair;
    }
    MYAPP.TasksObj.prototype.getHair = function(){
        return this.hair;
    }
    MYAPP.TasksObj.prototype.setEyes = function(eyes){
        this.eyes = eyes;
    }
    MYAPP.TasksObj.prototype.getEyes = function(){
        return this.eyes;
    }
    MYAPP.TasksObj.prototype.setCloth = function(cloth){
        this.cloth = cloth;
    }
    MYAPP.TasksObj.prototype.getCloth = function(){
        return this.cloth;
    }

    /**
     * @method pasteContent
     * @param {Element}
     * Append content and clone to shadow root, get self-clip data-attr and corresponding change the css style 
     */
    MYAPP.TasksObj.prototype.pasteContent = function(c){
        var clone;

        this.t.content.appendChild(c);

        //for safari & firefox
        if(!this.chrome){
          var base = this.t.content.querySelectorAll('.base');
          var cloth = this.t.content.querySelectorAll('.cloth');
          var hair = this.t.content.querySelectorAll('.hair');
          var left = this.t.content.querySelectorAll('.left');
          var right = this.t.content.querySelectorAll('.right');
          var eyes = this.t.content.querySelectorAll('.sense');
          var small = this.t.content.querySelectorAll('.eyes-small');

          for(var i in base){
            base[i].style.background = this.getBg();
          }
          for(var i in cloth){
            cloth[i].style.background = this.getCloth();
          }
          for(var i in hair){
            hair[i].style.background = this.getHair();
          }
          for(var i in left){
            left[i].style.background = this.getHair();
          }
          for(var i in right){
            right[i].style.background = this.getHair();
          }
          for(var i in eyes){
            eyes[i].style.background = this.getEyes();
            eyes[i].style.boxShadow = this.getEyes() +" 40px 0";
          }
          for(var i in small){
            small[i].style.boxShadow = this.getEyes() +" 42px 0";
          }
        }

        clone = document.importNode(this.t.content, true);
        this.el.style.width = '150px';
        this.el.style.height = '150px';
        this.root.appendChild(clone);

    }
    /**
     * @method getTasks
     * @return {Array}
     */
    MYAPP.TasksObj.prototype.getTasks = function(){
        return this.tasks;
    }


        /**
         * @method parseConfig
         * @param {Object}
         * @return {Array}
         * Sync all the change to this Array
         */
        var tasks;
        function parseConfig(input){
            tasks = [];
            for(var task in input){
                if(input[task] !== 'none'){
                    tasks.push(task);
                }
                var exist = tasks.indexOf(task);
                if(exist != -1){
                    if(typeof input[task] === 'object'){
                        for(var ts in input[task]){
                            tasks[exist] += ' '+ts+'-'+input[task][ts];
                        }
                    } else {
                        tasks[exist] += ' '+input[task];
                    }
                }
                
            }
            return tasks;
        }

        /**
         * @method toObject
         * @param {Array}
         * @return {Object}
         */
        function toObject(arr){
            var obj = {}, s, c, sArr = [];
            for(var i=0; i<arr.length; i++){
                s = arr[i].toString();
                c = s.match(/^(\S+)\s(.*)/).slice(1);
                for(var j=1; j<c.length; j++){
                    obj[c[j-1]] =  c[j];
                }
            }
            return obj;
        }

        /**
         * @method changeHandler
         * @param {Object}
         * Select change function, set the changes to BindConfig object
         */
        function changeHandler(evt){
            var to = evt.target;
            to.thisValue.setName(this.name);
            to.thisValue.setValue(this.value);
            to.thisValue.setConfig(to.config);
            parseConfig(to.thisValue.getConfig());
            to.el.setAttribute('data-config', JSON.stringify(to.thisValue.getConfig()));
            var txt = document.querySelector('textarea');
            txt.value = "<self-clip  data-config='"+ JSON.stringify(to.thisValue.getConfig()) +"'></self-clip>";
            txtHandler(txt, to.color.getBackground(), to.color.getHair(), to.color.getCloth(), to.color.getEyes());
        }

        /**
         * @method customElement
         * Main
         */
        function customElement(){

          var doc = (document._currentScript || document.currentScript).ownerDocument,
              t = doc.querySelector('#sdtemplate'),
              proto = Object.create(HTMLElement.prototype),
              fg = doc.createDocumentFragment(),
              content = doc.createElement('div'),
              base = doc.createElement('div'),
              tk = '',
              isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

              /**
               * @method createdCallback
               * custom element callback
               */
              proto.createdCallback = function(){
                var attr = this.getAttribute('data-config'),
                    bg = this.getAttribute('data-background'),
                    hair = this.getAttribute('data-hair'),
                    cloth = this.getAttribute('data-cloth'),
                    eyes = this.getAttribute('data-eyes'),
                    config = JSON.parse(attr), c, control,
                    newClass = "eyes-pos", i, txt, start, end,
                    oldValue = [], toObj, that = this,
                    select = document.getElementsByTagName('select');

                    controll = new MYAPP.Controller(bg, hair, cloth, eyes);

                    if(config.hair.length === 'short'){
                        config.sense[newClass] = "down";
                    }

                    parseConfig(config);
                    tk = new MYAPP.TasksObj(isChrome, doc, tasks, t, that, false);
                    c = tk.createFragment();
                    tk.pasteContent(c);
                    txt = document.querySelector('textarea');
                    txt.value = "<self-clip  data-config='"+JSON.stringify(toObject(tasks))+"'></self-clip>";
                    addAttr(controll, txt, this);
                    txtHandler(txt, controll.getBackground(), controll.getHair(), controll.getCloth(), controll.getEyes(), false);

                    for(i=0; i<select.length;i++){
                        oldValue[i] = new MYAPP.BindConfig(select[i].name, select[i].value, config);
                        select[i].addEventListener("change", changeHandler, false);
                        select[i].config = config;
                        select[i].thisValue = oldValue[i];
                        select[i].color = controll;
                        select[i].el = that;
                    }
            }
            /**
             * @method attributeChangedCallback
             * custom element has changed callback
             */
            proto.attributeChangedCallback = function(){
                var bg = this.getAttribute('data-background'),
                    hair = this.getAttribute('data-hair'),
                    cloth = this.getAttribute('data-cloth'),
                    eyes = this.getAttribute('data-eyes');
                    tk.setTasks(tasks, bg, hair, eyes, cloth);

                    if(isChrome){
                        var style = this.shadowRoot.querySelector('style'),
                            sheet = style.sheet;

                            this.insertMultiple(sheet, ['.base { background: ' + bg + ' ; }',
                                      '.chrome .base::after { background: ' + cloth + ' ; }',
                                      '.hair { background: ' + hair + ' ; }',
                                      '.chrome .hair::before { background: ' + hair + ' ; }',
                                      '.chrome .hair::after { background: ' + hair + ' ; }',
                                      '.sense { box-shadow: ' + eyes + ' 40px 0 ; }',
                                      '.sense { background: ' + eyes + ' ; }',
                                      '.eyes-small { box-shadow: ' + eyes + ' 42px 0 ; }'
                            ]);
                    }
            }
            /**
            * @method insertMultiple
            * For insert multiple CSS rules
            */
            proto.insertMultiple = function(sheet, arr){
                for(var i in arr){
                    sheet.insertRule(arr[i], sheet.cssRules.length);
                }
            }

            MYAPP.selfClip = document.registerElement('self-clip', {prototype: proto});
    }
    customElement();

    /**
     * @method inputAction
     * @param {String}
     * @param input {Element}
     * config to set default color display
     */
    function inputAction(bg, hair, cloth, eyes, input){
        switch (input.id) {
            case "hair":
                input.value = hair;
                break;

            case "background":
                input.value = bg;
                break;

            case "cloth":
                input.value = cloth;
                break;

            case "eyes":
                input.value = eyes;
                break;

            default:
                input.value = "#ffffff";
        }
    }

    /**
     * @method changeColorHandler
     * @param {Object}
     * Set color when select other color
     */
    function changeColorHandler(evt){

        evt.target.self.setAttribute('data-'+this.id, this.value);
        switch (this.id) {
            case "hair":
                evt.target.ctrl.setHair(this.value);
                break;

            case "background":
                evt.target.ctrl.setBackground(this.value);
                break;

            case "cloth":
                evt.target.ctrl.setCloth(this.value);
                break;

            case "eyes":
                evt.target.ctrl.setEyes(this.value);
                break;

            default:
                break;
        }

        txtHandler(evt.target.txt, 
            evt.target.ctrl.getBackground(), 
            evt.target.ctrl.getHair(), 
            evt.target.ctrl.getCloth(), 
            evt.target.ctrl.getEyes(), true);
    }

    /**
     * @method addAttr
     * @param {Object}
     * @param {String}
     * @param {Object}
     * Get those data attr color to do their action
     */
    function addAttr(controller, txt, self){
        var latestBg = controller.getBackground(),
            latestHair = controller.getHair(),
            latestEyes = controller.getEyes(),
            latestCloth = controller.getCloth();

        if( latestBg || latestHair || latestEyes || latestCloth){
            var input = document.getElementsByTagName('input');
                for(var i=0; i<input.length; i++){
                    input[i].addEventListener("input", changeColorHandler, false);
                    input[i].ctrl = controller;
                    input[i].self = self;
                    input[i].txt = txt;
                    inputAction(latestBg, latestHair, latestCloth, latestEyes, input[i]);    
                }
        }
    }

    /**
     * @method txtHandler
     * @param {String, String, String, String, String, boolean}
     * textarea text handler
     */
     function txtHandler(txt, latestBg, latestHair, latestCloth, latestEyes, change){
         var start = txt.value.substring(0, 11),
             org = txt.value.substring(12, txt.length),
             
             middle = (latestBg ? 'data-background="'+latestBg+'" ' : '' )+
                        ( latestHair ? 'data-hair="'+latestHair+'" ' : '') + 
                        ( latestCloth ? 'data-cloth="'+latestCloth+'" ' : '')+
                        ( latestEyes ? 'data-eyes="'+latestEyes+'" ' : ''),

             end = txt.value.substring(middle.length+start.length, txt.length);

            if(change){
                txt.value = start + middle + end;
            } else txt.value = start + middle + org;
             txt.select();
             return txt;
     }

</script>